SetEnv APPLICATION_ENV development
# 
RewriteEngine On
## 
RewriteCond %{REQUEST_URI} ^/www\.ana\.co\.jp.+\.(js|ico|gif|jpg|png|css|json)$
RewriteRule ^(.*)$ https://www.ana.co.jp/$1 [L]
## 
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]