SetEnv APPLICATION_ENV development
# 
RewriteEngine On
## 
RewriteCond %{REQUEST_URI} ^/www\.youtube\.com.+\.(js|ico|gif|jpg|png|css|json)$
RewriteRule ^(.*)$ https://www.youtube.com/$1 [L]
## 
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]